# build directory
dist

# environment variable files
.env
.env.development
.env.production
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local

# tmp and .logs
tmp
*.log

# package managers
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.npm
.yarn
.yarn-integrity
*.tgz

# coverage and logs
coverage
logs

# IDEs
.vscode
.vscode-test
.idea

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# cache and history
.eslintcache
.node_repl_history
.cache

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS generatred
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db